<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDATf7X1wp_y6ipfDUOFOi7tBFizvbDPBc</string>
	<key>GCM_SENDER_ID</key>
	<string>289131732417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fypGame</string>
	<key>PROJECT_ID</key>
	<string>fypgame-e2acb</string>
	<key>STORAGE_BUCKET</key>
	<string>fypgame-e2acb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289131732417:ios:e4bc61c3fd73ec54f36340</string>
</dict>
</plist>